.image-color-detector {
  display: inline-block;
  margin: 16px;
  background-color: #ffffff;
  border-radius: 16px;
}

.image-color-detector-section {
  width: 256px;
  display: grid;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}

.image-color-detector-section-title {
  padding: 8px 0;
  margin: auto;
}

.image-color-detector-section-title-image {
  max-width: 100%;
  border-radius: 16px;
  margin: auto;
  max-height: 186px;
}

.image-color-detector-section-body {
  margin: auto;
}

.image-color-detector-section-body-input-label {
  background-color: #6F52ED;
  color: white;
  display: block;
  margin: 8px 16px;
  padding: 8px;
}

.image-color-detector-section-body-input-label:hover {
  background-color: #3b22ac;
}

.image-color-detector-section-body-input {
  visibility: hidden;
}

.image-color-detector-section-body-color {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 80%;
  margin: 4px 2px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}